<section class="cart">
    <% if(session.cart) {%>
<div class="container mx-auto xl:w-1/2 ">
    <div class="flex items-center border-b border-gray-300 py-4">
        <img src="/img/cart-black.png" alt="cart">
        <h1 class="font-bold ml-4 text-2xl">Order Summary</h1>
    </div>
    <div class="pizza-list"> 
       <% for(let cake of Object.values(session.cart.items)) { %>    <!--<div>convert session.cart.items into array fist</div> -->
        <div class="flex items-center my-2">
            <img src="/img/<%=cake.item.image%>" alt="cake" class="w-24 py-2">
            <div class="ml-4 flex-1">
                <h1 class="font-semibold"><%=cake.item.name%></h1>
                <span class="font-semibold" ><%=cake.item.size%></span>
            </div>
            <span class="flex-1 font-semibold"><%=cake.qty%>Pcs</span>
            <span class="font-bold text-lg">₹ <%=cake.item.price * cake.qty%></span>
        </div>
        <% } %>
        <!-- <div class="flex items-center  my-2">
            <img src="/img/fruit.jpg" alt="cake" class="w-24 py-2">
            <div class="ml-4 flex-auto">
                <h1 class="font-semibold">Fruit Cake</h1>
                <span class="font-semibold" >2 Pound</span>
            </div>
            <span class="flex-auto font-semibold">1 Pcs</span>
            <span class="font-bold text-lg">Rs 400</span>
        </div>
        <div class="flex items-center my-2">
            <img src="/img/fruit.jpg" alt="cake" class="w-24 py-2">
            <div class="ml-4 flex-auto">
                <h1 class="font-semibold">Fruit Cake</h1>
                <span class="font-semibold" >2 Pound</span>
            </div>
            <span class="flex-auto font-semibold">1 Pcs</span>
            <span class="font-bold text-lg">Rs 400</span>
        </div> -->
    </div>



    <hr>
    <div class="text-right py-4">
        <div>
            <span class="text-lg font-bold">Total Amount:</span>
            <span class="amount text-2xl font-bold ml-2">₹ <%= session.cart.totalprice%> </span>
        </div>
            <% if(user) { %>
        <div>
            <form action="/orders" method="POST" class="mt-6">
                <div class="relative w-1/2 ml-auto">
                <select class="block border border-grey-400 p-2 w-full mb-4">
                    <option>Cash on Delivery</option>
                   
                </select>
            </div>
                <input class="border border-grey-400 p-2 w-1/2 mb-4" type="text" placeholder="Phone Number" name="phone">
                <input class="border border-grey-400 p-2 w-1/2" type="text" placeholder="Address" name="address">
               <div>
                <a href="/" class="inline-block px-3 py-1 md:px-6 md:py-2 rounded-full btn-primary text-white font-bold mt-12">Add More Items</a>   
                <button class="btn-primary px-3 py-1 md:px-6 md:py-2 rounded-full text-white font-bold mt-6" type="submit">Order Now</button> 
            </div>
            </form>
        </div>
        <% } else { %>
        <a href="/login" class="inline-block cursor-pointer btn-primary px-6 py-2 rounded-full text-white font-bold mt-6">Login to continue</a>
        <% } %>
    </div>
</div>
<% } else { %>
      <div class="py-8">
        <div class="container mx-auto text-center">
            <h1 class="text-4xl font-bold mb-2">Cart Empty!</h1>
            <p class="text-gray-500 text-lg mb-12">You probably haven't ordered a cake yet.<br>
                To order a Cake, go to the main page.
            </p>
        <img class="w-2/5 mx-auto" src="/img/empty-cart.png" alt="cart">
        <a href="/" class="inline-block px-6 py-2 rounded-full btn-primary text-white font-bold mt-12">Go to Main Page</a>
        
        </div>
    </div>
    <% } %> 




</section>