<section class="order">
    <% if(messages.success){ %>
       
    <div id="alert" class="container mx-auto flex justify-around"> <span class="mess text-sm px-4 py-3 text-white font-bold text-center"> <%=messages.success%></span> </div>
   
         <%}%>
         <div ><span></span></div>
    <div  class="container mx-auto pt-6 px-2"><h1 class="font-bold text-lg mb-4">All Orders</h1></div>
   <table class="w-full  table-auto bg-white-400 border-4" >
       <thead>
           <tr>
               <th class="px-4 py-2 text-left italic">Orders</th>
               <th class="px-4 py-2 text-left italic">Address</th>
               <th class="px-4 py-2 text-left italic">Phone</th>
               <th class="px-4 py-2 text-left italic">Time</th>
            </tr>
           
       </thead>
       <tbody>
           <% if(orders.length) { %> 
            <% orders.forEach(function(order) { %>

          
           <tr>
               <td class="px-4 py-2 border"><a class="link" href="/orders/<%= order._id%>"><%= order._id%></a></td>
               <td class="px-4 py-2 border"><%= order.address%></td>
               <td class="px-4 py-2 border"><%= order.phone%></td>
               <td class="px-4 py-2 border"><%=moment(order.createdAt).format('hh:mm A')%></td>
           </tr>
           <% })%>
           
        <% } else { %> 

            <tr> 
                <td class="px-4 py-2 text-lg text-left font-bold  "> <span>No Orders Found. Place Order</span></td>

            </tr>
            <% } %>
       </tbody>

   </table>
</section>